* {
    padding: 0; margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
}
.name-of-game h1{
    font-family: Helvetica, sans-serif;
}

#letters {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 7em 0;
    font-family: 'Short Stack', cursive;
}

#letters div {
    width: 2em; height: 2em;
    color: darkgreen;
    border: 1px gray solid;
    text-align: center;
    display: grid;
    place-content: center;
    margin: 5px;
    cursor: pointer;
}

#letters div:hover {
    background-color: palegreen;
}

.dashed p {
    font-size: 3em;
    letter-spacing: 0.5em;
    position: relative;
    top: -70px;
    color: black;
    margin-bottom: 2em;
}

.result {
    font-size: 1rem;
    display: none;
}

#letters div.used { 
    background-color: lightgray;
    opacity: 0.5;
}

#play-again button { 
    padding:13px ;
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    background-color: #ecf0f3;
    color: rgb(63, 63, 63);
    border-radius: 15px;
    box-shadow: 8px 8px 13px #cbced1,
        -8px -8px 13px #ffffff;
        border: #ecf0f3;
    cursor: pointer;
    position: relative;
    top: -90px;
}

#play-again button:hover {
    background-color: #e1ecf5;
}

.image img { 
    position: relative;
    top: -50px;
}

#show-question {
    width: 380px; height: 210px;
    border: 1px black solid;
    position: absolute;
    left: 140px;
}